/*
  改变banner区块中的背景色
  区块中的字体颜色
  区块中的文字居中
  区块中的内边界上下100x像素
*/
.banner {
  background: #1E5B94;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.banner h1 {
  font-size: 200%;
  border: 2px solid #fff;
  padding: 20px;
  display: inline-block;
}

.container {
  padding: 40px 0;
}

.container h2 {
  font-size: 180%;
  padding: 30px 0 50px 0;
  text-align: center;
}

.footer p {
  color: #7f8c8d;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  background: #2d3e50;
}